
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body background="/tripleMagellan_trimmed.jpg">
			<nav>
	    		<ul>
	        		<li style="color:white"><a href="/">Home</a></li>
				<li style="color:white"><a href="/research">Research</a></li>
				<li style="color:white"><a href="/CV">CV</a></li>
		        	<li style="color:white"><a href="/about">About Me</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li style="color:white">Email: <a href="mailto:minghao.astro@gmail.com">minghao.astro@gmail.com</a></li>
	        		<li style="color:white">Office: D221, Steward Dome </li>
	        		<li style="color:white">Phone: (520)308-2854 </li>
				</ul>
			</footer>
		</body>
	</html>
